{% extends 'base.html' %}
{% load static %}
{% block header %} {% endblock %}
{% block content %}
    <!-- Contact Start -->
    <div class="container p-3"></div>

    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-5 justify-content-center">
                <section class="h-100">
                    <div class="container h-100">
                        <div class="row justify-content-sm-center h-100">
                            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                                <div class="text-center my-5">
                                </div>
                                <div class="card shadow-lg">
                                    <div class="card-body p-5">
                                        <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
                                        <form method="POST" class="needs-validation" novalidate="" autocomplete="off">
                                            <div class="mb-3">
                                                <label class="mb-2 text-muted" for="text">ID</label>
                                                <input id="text" type="text" class="form-control" name="email"
                                                       value="" required autofocus>
                                                <div class="invalid-feedback">
                                                    ID is invalid
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label class="mb-2 text-muted" for="text">Password</label>
                                                <input id="password" type="password" class="form-control"
                                                       name="password" required>
                                                <div class="invalid-feedback">
                                                    Password is required
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center">
                                                <div class="mb-2 w-100">
                                                    <a href="forgot.html" class="float-end">
                                                        비밀번호 찾기
                                                    </a>

                                                    <a href="forgot.html" class="float-end">
                                                        아이디/
                                                    </a>
                                                </div>
                                            </div>

                                            <div class ="d-flex align-items-center">
                                                <button type="submit" class="btn btn-primary ms-auto">
                                                    Login
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer py-3 border-0">
                                        <div class="text-center">
                                            <a href="/accounts/signup" class="text-dark">회원가입</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mt-5 text-muted">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- Contact End -->

{% endblock %}