{% extends 'base.html' %}
{% load static %}
{% block header %} {% endblock %}
{% block content %}
<!-- Contact Start -->
<div class="container p-3"></div>

<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5 justify-content-center">
            <section class="h-100">
                <div class="container h-100">
                    <div class="row justify-content-sm-center h-100">
                        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                            <div class="text-center my-5">
                            </div>
                            <div class="card shadow-lg">
                                <div class="card-body p-5">
                                    <h1 class="fs-4 card-title fw-bold mb-4">로그인</h1>
                                    <form autocomplete="off" class="needs-validation" method="POST" novalidate="">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label class="mb-2 text-muted" for="email">이메일</label>
                                            <input autofocus class="form-control" id="email" name="login"
                                                   required type="email" value="">
                                            {% if form.login.errors %}
                                                    {% for error in form.login.errors %}
                                                      <p>* {{ error|linebreaksbr }}</p>
                                                    {% endfor %}
                                            {% endif %}
                                        </div>

                                        <div class="mb-3">
                                            <label class="mb-2 text-muted" for="email">비밀번호</label>
                                            <input class="form-control" id="password" name="password"
                                                   required type="password">
                                            {% if form.password.errors %}
                                                    {% for error in form.password.errors %}
                                                      <p>* {{ error|linebreaksbr }}</p>
                                                    {% endfor %}
                                            {% endif %}
                                        </div>
                                          {% if form.errors %}
                                          <div class="alert alert-danger" role="alert">
                                            <strong>Error:</strong>
                                            {% for field, error_list in form.errors.items %}
                                              {% for error in error_list %}
                                                {{ error }}
                                              {% endfor %}
                                            {% endfor %}
                                          </div>
                                        {% endif %}

                                        <div class="d-flex align-items-center">
                                            <div class="mb-2 w-100">
                                                <a class="float-end" href="/member/password">
                                                    비밀번호 찾기
                                                </a>
                                            </div>
                                        </div>


                                        <div class="d-flex align-items-center">
                                            <button class="btn btn-primary ms-auto" type="submit">
                                                로그인
                                            </button>
                                        </div>
                                    </form>
                                </div>


                                <div class="card-footer py-3 border-0">
                                    <div class="text-center">
                                        <a class="text-dark" href="/member/signup">회원가입</a>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-5 text-muted">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock %}