{% extends 'base.html' %}
{% load static %}
{% block header %} {% endblock %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="card shadow-lg">
                        <div class="card-body p-5">
                            <h1 class="fs-4 card-title fw-bold mb-2">새로운 비밀번호를 입력</h1>
                            <div class="mb-3"></div>

                            {#                                        <form method="POST" action="{{ action_url }}">#}
                            {#                                            {% csrf_token %}#}
                            {#                                            {{ form.as_p }}#}
                            {#                                            <input type="submit" name="action" value="change password"/>#}
                            {#                                        </form>#}

                            <form action="{{ action_url }}" method="POST" class="needs-validation"
                                  novalidate="" autocomplete="off">
                                {% csrf_token %}

                                <div class="mb-3">
                                    <div class="mb-2 w-100">
                                        <label class="text-muted" for="signup_password1">비밀번호</label>
                                    </div>
                                    <input id="signup_password1" type="password" class="form-control"
                                           name="password1" required>
                                    {% if form.password1.errors %}
                                        {% for error in form.password1.errors %}
                                            <p>* {{ error|linebreaksbr }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="mb-3">
                                    <div class="mb-2 w-100">
                                        <label class="text-muted" for="signup_password2">비밀번호 확인</label>
                                    </div>
                                    <input id="signup_password2" type="password" class="form-control"
                                           name="password2" required>

                                    {% if form.password2.errors %}
                                        {% for error in form.password2.errors %}
                                            <p>* {{ error|linebreaksbr }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="mb-3">
                                    <ul>
                                        <li>비밀번호 8~32 자의 영문 대소문자,숫자,특수문자를 조합하여 설정해 주세요.</li>
                                        <li>다른 사이트에서 사용하는 것과 동일하거나 쉬운 비밀번호는 사용하지 마세요.</li>
                                        <li>안전한 계정 사용을 위해 비밀번호는 주기적으로 변경해 주세요.</li>
                                    </ul>
                                </div>


                                <div class="d-flex align-items-center my-1">
                                    <button type="submit" class="btn btn-primary ms-auto">
                                        비밀번호 초기화
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}