{% extends 'base.html' %}

{% load static %}

{% block header %}
    <!-- CSS 파일 -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css"/>
    <!-- JavaScript 파일 -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="{% static 'js/board.js' %}"></script>
{% endblock %}

{% block content %}
    <div style="display: none">
        {{ board_list.update_counter }}
    </div>
    <div class="container p-3"></div>
    <div class="container-xxl py-6 mt-5">
        <div class="container">
            <div class="row g-5 justify-content-center ">
                <div class="col-md-12">
                    <h2>{{ board_list.title }}</h2>
                    <br>
                    <i class="fa-solid fa-user"></i>
                    {{board_list.nickname}}
                    <p><small style="color:silver;text-align:right;">{{ board_list.published_date|date:"Y.m.d H:i" }}</small></p>
                </div>
            </div>
            <div id="editor"></div>

            <div class="row my-3"></div>
            <div class="container">
                <div style="padding: 2px 20px; float:right;">
                    <a href="{% url 'boards:index' %}" class="btn btn-primary">글 목록</a>

                    {% if user == board_list.author %}
                        <a href="{% url 'boards:edit' board_list.pk %}" class="btn btn-light">수정</a>
                        <a href="{% url 'boards:delete' board_list.pk %}"
                           onclick="if(!confirm('정말 삭제하시겠습니까?')){return false;}"
                           class="btn btn-danger">삭제</a>
                    {% endif %}
                </div>
            </div>
            <div class="row my-5"></div>
            <div class="container">
                <h3>댓글 ({% if comments %}{{ comments|length }}{% else %}{{ 0 }}{% endif %})</h3>
                    {% for comment in comments %}
                        <div class="card mb-2">
                            <div class="card-header bg-body">
                                <div>
                                    {% if user == comment.user %}
                                        <form action="{% url 'boards:comments_delete' board_list.pk comment.pk %}"
                                              method="POST">
                                            <i class="fa-solid fa-user"></i> &nbsp;{{ comment.user.nickname }} [작성자] 

                                            {% csrf_token %}
                                            <input type="submit" class="float-end btn btn-danger" value="삭제">
                                        </form>
                                    {% else %}
                                    <i class="fa-solid fa-user"></i> &nbsp;{{ comment.user.nickname }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="rounded-1 border-2 border-primary">
                                    {{ comment.contents }}
                                    <div><small style="color:silver;text-align:right;">{{ comment.published_date|date:"Y.m.d H:i" }}</small></div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>댓글이 없어여,,( ˃̣̣̥᷄⌓˂̣̣̥᷅ )</p>
                    {% endfor %}
                </ul>
                <hr>
                <!--create-->
                {% if request.user.is_authenticated %}
                    <form action="{% url 'boards:comments_create' board_list.pk %}" method="POST">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-body">{{ request.user.nickname }}</div>
                            <textarea class="card-body border-0" name="contents"></textarea>
                            <div class="card-body">
                                <input type="submit" class="btn btn-primary float-end" value="작성하기">
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        // 에디터 컨테이너 요소를 가져옵니다.
        let contents = "{{ board_list.contents }}";

        convertedContents = parseContents(contents);
        setContents("#editor", convertedContents);
    </script>

{% endblock %}