{% extends "base.html" %}
{% load user_agents %}
{% load board_filter %}
{% load static %}
{% block header %}{% endblock %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center" style="height: 120vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">제목</th>
                                <th scope="col">닉네임</th>
                                <th scope="col">게시일</th>
                                <th scope="col">조회수</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for post in board_list %}
                                <tr>
                                    <td>{{ board_list.paginator.count|sub:board_list.start_index|sub:forloop.counter0|add:1 }}</td>

                                    {% if request.user_agent.is_mobile %}
                                        <!-- 모바일 화면에서 표시할 내용 -->
                                        <td><a href="{% url 'boards:detail' post.id %}">{{ post.title|truncatechars:7 }}</a></td>
                                        <td>{{ post.nickname|truncatechars:10 }}</td>
                                    {% else %}
                                        <!-- PC 화면에서 표시할 내용 -->
                                        <td><a href="{% url 'boards:detail' post.id %}">{{ post.title|truncatechars:30 }}</a></td>
                                        <td>{{ post.nickname|truncatechars:5 }}</td>
                                    {% endif %}

                                    <td>{{ post.created_date|date:"y-m-d" }}</td>
                                    <td>{{ post.hit }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>
                <div class="col-md-12">
                    {% if user.is_authenticated %}
        <div style="float:right;">
        <a href="{%url 'boards:new' %}" class="btn btn-primary" >글쓰기</a>
        </div>
      {% endif %}
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-12 text-center">
        {% if board_list.has_previous %}
            <a href="?page=1">처음</a>
            <a href="?page={{ board_list.previous_page_number }}">이전</a>
        {% endif %}
        <!-- 페이지리스트 -->
        <span style="color:red;font-weight:bold;">{{ board_list.number }}</span>
        <span> / </span>
        <span style="font-weight:bold;">{{ board_list.paginator.num_pages }}</span>
        {% if board_list.has_next %}
            <a href="?page={{ board_list.next_page_number }}">다음</a>
            <a href="?page={{ board_list.paginator.num_pages }}">끝</a>
        {% endif %}
    </div>
            </div>
        </div>
    </div>
{% endblock %}