{% load board_filter %}
<html>
<body>
    <div class="row mt-5">
            <div class="col-12">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">제목</th>
                    <th scope="col">아이디</th>
                    <th scope="col">작성일</th>
                    <th scope="col">최종수정일</th>
                    <th scope="col">조회수</th>
                    <th scope="col">비고</th>
                  </tr>
                </thead>
                <tbody>
                  {% for post in board_list %}
                  <tr>
                    <td>{{ board_list.paginator.count|sub:board_list.start_index|sub:forloop.counter0|add:1 }}</td>
                    <td><a href="{% url 'boards:detail' post.id %}">{{post.title}}</a></td>
                    <td>{{post.author}}</td>
                    <td>{{post.content|truncatewords:5}}</td>
                    <td>{{post.published_date|date:"Y-m-d"}}</td>
                    <td>{{post.hit}}</td>
                    <a href="{% url 'boards:edit' post.id %}" class="btn btn-outline-info btn-sm">수정</a>
                    <a href="{% url 'boards:delete' post.id %}" onclick="if(!confirm('정말 삭제하시겠습니까?')){return false;}" class="btn btn-outline-danger btn-sm">삭제</a>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="{%url 'boards:new' %}" class="btn btn-primary" >글쓰기</a> 
            </div>
        </div>

        <div class="row my-3">
          <div class="col-md-12 text-center">
              {% if board_list.has_previous %}
                  <a href="?page=1">처음</a>
                  <a href="?page={{ board_list.previous_page_number }}">이전</a>
              {% endif %}
                  <!-- 페이지리스트 -->
                  <span style="color:red;font-weight:bold;">{{ board_list.number }}</span> 
                  <span> / </span>
                  <span style="font-weight:bold;">{{ board_list.paginator.num_pages }}</span>
              {% if board_list.has_next %}
                  <a href="?page={{ board_list.next_page_number }}">다음</a>
                  <a href="?page={{ board_list.paginator.num_pages }}">끝</a>
              {% endif %}            
          </div>
        </div>
  </body>
</html>