{% extends 'base.html' %}
{% load static %}
{% load board_filter %}
{% block header %} 
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center" style="height: 120vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <!-- 가운데 정렬을 원하는 내용 -->
                    <div class="card shadow-lg">
                        <div class="card-body p-5">
                            <h1 class="fs-4 card-title fw-bold mb-2">상품 결제 내역</h1>
                            <div class="mt-3 mb-3">
                                <div>
                                    <table class="table">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">주문번호</th>
                                            <th scope="col">날짜</th>
                                            <th scope="col" style='white-space: nowrap'>결제 내역</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for Order in Order_list %}
                                            <tr>
                                                <td>{{Order_list.start_index|add:forloop.counter0}}</td>
                                                <td>{{Order.Order_id}}</td>
                                                <td>{{Order.date}}</td>
                                                <td>
                                                    <a href="{%url 'myreceipt' Order.receipts_id %}" class="btn btn-primary">보기</a>
                                                </td>
                                            </tr>
                                        {% empty %}
                                            <p>구매내역이 없어여,,( ˃̣̣̥᷄⌓˂̣̣̥᷅ )</p>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-12 text-center">
                    {% if Order_list.has_previous %}
                        <a href="?page=1">처음</a>
                        <a href="?page={{ Order_list.previous_page_number }}">이전</a>
                    {% endif %}
                    <!-- 페이지리스트 -->
                    <span style="color:red;font-weight:bold;">{{ Order_list.number }}</span>
                    <span> / </span>
                    <span style="font-weight:bold;">{{ Order_list.paginator.num_pages }}</span>
                    {% if Order_list.has_next %}
                        <a href="?page={{ Order_list.next_page_number }}">다음</a>
                        <a href="?page={{ Order_list.paginator.num_pages }}">끝</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}