{% extends 'base.html' %}
{% load static %}
{% block header %} {% endblock %}
{% block content %}

    <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="row col-md-4">
            <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">비밀번호 초기화</h1>
                        <form autocomplete="off" class="needs-validation" method="POST"
                              novalidate="" action="{% url 'account_reset_password' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="email">이메일</label>
                                <input autofocus class="form-control" id="email" name="email"
                                       required type="email" value="">

                                {% if form.email.errors %}
                                    {% for error in form.email.errors %}
                                        <p>* {{ error|linebreaksbr }}</p>
                                    {% endfor %}
                                {% endif %}

                            </div>


                            <div class="d-flex align-items-center">
                                <button class="btn btn-primary ms-auto" type="submit">
                                    비밀번호 초기화
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}