{% extends 'base.html' %}
{% load board_filter %}
{% load static %}
{% block header %} {% endblock %}
{% block content %}
    
    <div class="container-fluid bg-light bg-icon my-5 py-6 mb-0">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h4 class="display-5 mb-3">창고형 매장</h4>
                <h4 class="display-5 mb-3">무인결제 시스템</h4>
                <p class="mb-0 fs-4">매일 기다렸던 계산대 대기!</p>
                <p class="mb-0 fs-4">이제 카트와 빠르게 나갑시다!</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4 feature_img_size" src="{% static 'img/phone-camera.svg' %}" alt="" >
                        <h4 class="mb-3 text-primary">사진찍고</h4>
                        <p class="mb-4">사용자는 상품들의 사진을 찍어 시스템이 상품을 인식하고</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4 feature_img_size" src="{% static 'img/cart.svg' %}" alt="">
                        <h4 class="mb-3 text-primary">장바구니에 담고</h4>
                        <p class="mb-4">시스템이 인식한 상품들을 장바구니에 넣고</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4 feature_img_size" src="{% static 'img/credict-phone.svg' %}" alt="">
                        <h4 class="mb-3 text-primary">결제하고</h4>
                        <p class="mb-4">장바구니에 넣은 상품들을 결제하고 바로 나가기만 하면 됩니다!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-light bg-icon py-6 -2">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">게시판</h1>
                <p class="mb-0 fs-4">커뮤니티 게시판입니다.</p>
                <p class="mb-0 fs-4">고객님 맘껏 소리쳐주세요!</p>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                {% for p in board_list|slice:":5" %}

                <a href="{% url 'boards:detail' p.id %}">
                    <div class="testimonial-item position-relative bg-white p-5 mt-4">
                        <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                        <p class="mb-4">{{p.title|striptags|custom_linebreaksbr:35}}</p>
                        <div class="d-flex align-items-center">
                            <!-- 이미지 바꾸기 -->
                            <img class="flex-shrink-0 rounded-circle icon_img_size" src="{% static 'img/user_icon.svg' %}" alt="">
                            <div class="ms-3">
                                <h5 class="mb-1">닉네임</h5>
                                <span>{{p.nickname}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}