{% extends 'base.html' %}
{% load static %}
{% block header %} {% endblock %}
{% block content %}

    <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="row">
            <div class="col text-center">
                {#      https://cdn.dribbble.com/users/1363659/screenshots/3285428/done800x600.gif          #}
                <img class="gif_size" src="https://78.media.tumblr.com/17b0fa94810e3fdc7ce0f690db24ea8c/tumblr_peu3tmpW111qfgyh3o1_400.gif">
                <h4 class="mt-5">결제가 완료되었습니다.</h4>
                <h4>이용해 주셔서 감사합니다.</h4>
            </div>
        </div>
    </div>
{% endblock %}