<!--결제 실패-->

{% extends 'base.html' %}
{% load static %}
{% block header %} {% endblock %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center" style="height: 120vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="mb-3 text-center">
                        <div class="card shadow-lg">
                            <div class="card-body p-5">
                                <label class="mb-2 text-muted">결제에 실패하였습니다.</label>
                                <label class="mb-2 text-muted">다시 사진을 찍어주시기 바랍니다.</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        
    </script>
{% endblock %}