프론트 엔드
화, 목 
강의 듣기 ppt 만들기

-> 개발이 상당히 빠른편
미리 후딱 해놓고 여유를 가지고 만들자.
=>



{% extends 'base.html' %}
{% load static %}
{% block header %} {% endblock %}
{% block content %}
<script>
    let idNum = 0;
    function addFile(){
        deepCopy();
    }

    function deepCopy()  {
      // 'test' node 선택
      const fileModule = document.getElementById('file-module-'+idNum);



      // 노드 복사하기 (deep copy)
      const newNode = fileModule.cloneNode(true);

      console.log(newNode)

      // 복사된 Node id 변경하기
      idNum++;
      newNode.id = 'file-module-' + idNum;

      // 복사한 노드 붙여넣기
      fileModule.after(newNode);
    }
</script>
<div class="container p-3"></div>
    <div class="container-xxl py-6 mt-5">
        <div class="container">
            <div class="row g-5 justify-content-center">
                <section class="h-100">
                    <div class="container h-100">
                        <div class="row justify-content-sm-center h-100">
                            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        
                                <div class="card shadow-lg">
                                    <div class="card-body p-5">
                                <form action="result" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <span id="file-module-0">
                    <fieldset>
                        <legend><h1 class="fs-4 card-title fw-bold mb-2">파일 업로드</h1></legend>
                        <input name="files" type="file">

                    </fieldset>
                </span>
    <button onclick="addFile()" type="button" class="btn btn-primary ms-auto">파일 추가 </button>
    <div><input type="submit" value="결제" class="btn btn-primary ms-auto"></div>
</form>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
{% endblock %}


